<app-breadcrumb [title]="'Contact'" [breadcrumb]="'Contact'"></app-breadcrumb>
<!--section start-->
<section class=" contact-page section-b-space">
    <div class="container">
        <div class="row section-b-space">
            <div class="col-lg-7 map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d50059.12775918716!2d72.78534673554945!3d21.16564923510817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1533793756956"   allowfullscreen></iframe>
            </div>
            <div class="col-lg-5">
                <div class="contact-right">
                    <ul>
                        <li>
                            <div class="contact-icon">
                                <img src="assets/images/icon/phone.png" alt="Generic placeholder image">
                                <h6>Contact Us</h6>
                            </div>
                            <div class="media-body">
                                <p>+91 123 - 456 - 7890</p>
                                <p>+86 163 - 451 - 7894</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <h6>Address</h6>
                            </div>
                            <div class="media-body">
                                <p>ABC Complex,Near xyz, New York</p>
                                <p>USA 123456</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <img src="assets/images/icon/email.png" alt="Generic placeholder image">
                                <h6>Address</h6>
                            </div>
                            <div class="media-body">
                                <p>Support@Shopcart.com</p>
                                <p>info@shopcart.com</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-fax" aria-hidden="true"></i>
                                <h6>Fax</h6>
                            </div>
                            <div class="media-body">
                                <p>Support@Shopcart.com</p>
                                <p>info@shopcart.com</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                    <form [formGroup]="messageForm" (ngSubmit)="onSubmit(this.messageForm.value)" class="theme-form">

                    <div class="row">
                        <div class="col-md-6">
                            <label for="name">First Name</label>
                            <input type="text" class="form-control"  name="firstname" [formControl]="messageForm.controls['firstname']" value="" placeholder="" autocomplete="off">
                            <div *ngIf="messageForm.controls.firstname.touched && messageForm.controls.firstname.errors?.required" class="text text-danger">
                            First Name is required.
                            </div>
                            <div *ngIf="messageForm.controls.firstname.touched && messageForm.controls.firstname.errors?.pattern" class="text text-danger">
                            First Name must be an alphabates.
                            </div>
                        </div>


                        <div class="col-md-6">
                            <label for="email">Last Name</label>
                            <input type="text" class="form-control"  name="lastname" [formControl]="messageForm.controls['lastname']" value="" placeholder="" autocomplete="off">
                            <div *ngIf="messageForm.controls.lastname.touched && messageForm.controls.lastname.errors?.required" class="text text-danger">
                            Last Name is required.
                            </div>
                            <div *ngIf="messageForm.controls.lastname.touched && messageForm.controls.lastname.errors?.pattern" class="text text-danger">
                            Last Name must be an alphabates.
                            </div>                     
                           </div>


                        <div class="col-md-6">
                            <label for="email">Email</label>
                            <input type="text" class="form-control"  name="email" [formControl]="messageForm.controls['email']" value="" placeholder="" autocomplete="off">
                            <div *ngIf="messageForm.controls.email.touched && messageForm.controls.email.errors?.required" class="text text-danger">
                             Email is required
                            </div>
                            <div *ngIf="messageForm.controls.email.touched && messageForm.controls.email.errors?.email" class="text text-danger">
                             Invalid Email
                            </div>                       
                         </div>


                        <div class="col-md-12">
                            <label for="review">Write Your Message</label>
                            <textarea class="form-control" [formControl]="messageForm.controls['about']" placeholder="Write Your Message" id="exampleFormControlTextarea1" rows="6"></textarea>
                            <div *ngIf="messageForm.controls.about.touched && messageForm.controls.about.errors?.required" class="text text-danger">
                                Message is required
                               </div>
                               <div *ngIf="messageForm.controls.about.touched && messageForm.controls.about.errors?.email" class="text text-danger">
                                Message Email
                               </div>   
                        </div>


                        <div class="col-md-12">
                            <button class="btn btn-solid" type="submit">Send Your Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->